.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.inner{max-width:980px; margin:0 auto; zoom:1;}
.inner:before, .inner:after{display: table; content:"";}
.inner:after{clear:both;}
a:hover{text-decoration: none;}
/*顶部*/
.header{
  border-bottom:1px solid #EDEDED;
  padding:10px 0;
  background: #fff;
}
.logo{font-size:22px;}
.nav li{margin-left:10px; position: relative;}
/*
.nav div{position: absolute; top:100%; right: 0; width:100px; padding:10px; background: #fff; border:1px solid #ddd; display: none; transition:max-height 1s ease-in; max-height: 0;}
.nav .active div{display: block; max-height: 40px;}
*/
.nav .current a{color:#333;}

/*头部描述*/
.info{
  border-bottom:1px solid #EDEDED;
  background: #FAFAFA;
  padding:20px 0;
}
/*首页*/
.main{margin:20px 0 10px;}
.foundation li{width:50%;}
.foundation .panel{margin:0 10px 10px 0;}
.widget{border:1px solid #ddd; margin:0 0 10px 10px;}
.widget-title{
  border-bottom:1px solid #EDEDED;
  padding-left:10px;
}
.widget-box{
  padding:10px;
}

/*内容页*/
.sidebar{float: left; width:300px;}
.content{float: right; width:660px;}
/*.content iframe{min-height: 500px; border: 0;}*/

.entry-content ul, .entry-content ol{margin-left:20px;}
.entry-content ul li{list-style-type:disc;}
.entry-content ol li{list-style-type: decimal;}
/*layouts*/
.code-hd{margin-bottom:0; background:#FAFAFA; line-height:30px;}





/*底部*/
.footer{
  border-top:1px solid #EDEDED;
  padding:20px 0;
  text-align: center;
  line-height: 35px;
background:#fff;
}